.main-contact {
  width: 50%;
  margin: auto;
  justify-content: map-get($estilos, justify-content1 ) ;
  /*justify-content: center;*/
  .contact-fieldset {
    padding: 15px;
    border: $border;
    border-image: initial;
}
}


textarea {
  vertical-align: top;
}

​.ingresa-tus-datos {
  text-align: map-get($estilos, text-align1 ) ;
  /*text-align: center;*/
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: italic;
}

.enviar{
@extend %botonBase;
justify-content: center;
}

@media  screen and (min-width: 768px) {
  .main-contact{
    flex-direction: row;
    border-width: 1.1cm;
  }
 
}



