.main-contact {
  width: 50%;
  margin: auto;
  justify-content: map-get($estilos, justify-content1 ) ;
  .contact-fieldset {
    padding: 15px;
    border: $border;
    border-image: initial;
}
}


textarea {
  vertical-align: top;
}

​.ingresa-tus-datos {
  text-align: map-get($estilos, text-align1 ) ;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: italic;
}

.enviar{
@extend %botonBase;
margin-left: 50% ;
display:block;
margin: 0 auto;
}

@media  screen and (min-width: 768px) {
  .main-contact{
    flex-direction: row;
    border-width: 1.1cm;
  }
 
}

.form-control:focus {
  box-shadow: 5px 7px 5px rgba(124, 6, 6, 0.5);
  border: 1px solid rgb(124, 6, 6);
}