%botonBase {
     
    justify-content: center;
    text-decoration: solid;
    color: rgb(124, 6, 6);
    background-color:rgb(165, 157, 157);
    font-size:larger ;
    border-color: rgb(124, 6, 6);
}

