.main-footer p {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: map-get($estilos, text-align1 ) ;
  /*text-align: center;*/
  font-family: "Kanit", sans-serif;
  margin-top: 20px;
}


body {
  background-color: $primariColor;
  font-family: "Kanit", sans-serif;
}