.titulo-secundario-bienvenidos {
  text-align: map-get($estilos, text-align1 ) ;
  font-family: "Kanit", sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  margin-top: map-get($estilos, margin-top1);
  margin-bottom: 3%;
}

.texto {
  text-align: map-get($estilos, text-align1 ) ;
  font-family: "Kanit", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  border-style: solid;
  border-color: $base-color;
  background-image: linear-gradient(to left,rgb(216, 210, 210),rgb(202, 195, 195),rgb(126, 123, 123));
}

.div-conocenos {
  margin-top: map-get($estilos, margin-top1);
  font-family: "Kanit", sans-serif;
  display: map-get($estilos, display1 );
  align-items: baseline;
  gap:20px;
  text-align: left;
  .div-texto {
    font-family: "Kanit", sans-serif;
    font-style:italic;
    font-size: 1.3rem;
    gap: 7px;
    display: flex;
    align-items: center; 
  }
}



.network-logo {
  font-size: 2rem;
  color:$base-color ;
  margin-right: 0.5rem;
  @media screen and (min-width: 768px) {
    
     font-size: 2rem;
      color:$base-color ;
     
    
    }
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  font-size: 30px;
}

@media  screen and (max-width: 768px) {
  .div-conocenos{
    display: map-get($estilos, display1 );
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .div-texto{
    display: map-get($estilos, display1 );
      font-size: 1rem;
    }
 
}

@media  screen and (max-width: 512px) {
  .contact-buttons {
    margin: auto;
    justify-content: map-get($estilos, justify-content1 ) ;
    text-decoration: solid;
  }
 
}

