.title-2 {
    justify-items: center;
    text-align: map-get($estilos, text-align1 ) ;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2rem;
  }
  
  .contenedor-vinos-div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
  }
  
  .imagen-vino {
    width: 90%;
    border-radius: 1rem;
    border-style: solid;
    border-color:$base-color;
    &:hover
    {
      box-shadow: 0 20px 20px rgba(124, 6, 6, 0.7);
     }
    @media screen and (min-width: 768px) {
        border-radius: 1rem;
      border-style: solid;
      border-color:$base-color;
    }
  }
  
  
  .btn-outline-dark
  { color: rgb(124, 6, 6);
  }
  


  